name: PR Validation

on:
  pull_request:
    branches:
      - main
    paths: &changed_paths
      - "src"
      - "Cargo*"
      - ".cargo"
      - ".github/workflows/pr-main.yml"
      - "rustfmt.toml"
  push:
    branches:
      - main
    paths: *changed_paths

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Build
        run: cargo build --verbose

      - name: Test
        run: cargo test --verbose

  format:
    needs: build-and-test

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install nightly
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
          components: rustfmt

      - name: Format
        run: cargo +nightly fmt --check

  clippy:
    needs: build-and-test

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Clippy lint
        run: cargo clippy -- -D warnings
